body{
  min-width: 100vw;
  min-height: 100vh;
}
.appear {
  margin-top: 0 !important;
  visibility: visible !important;
  opacity: .5 !important;
  top : 2em !important;

}
.key{
  float:left;
  height: 5vh;
  margin-top: 20vh;
  opacity: 0;
  visibility: hidden;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.konamied {
  background-color: #432A18;
  color: wheat;
  text-align: right;
}
.konamied h2{
text-align: right;
}
.konamied #topMenu{
  display: flex;
  flex-direction: row-reverse;
}

.konamied .menuButton:hover:not(.active) {
    background-position: -5px 5px;
    padding-right: 5px;
}
.konamied .menuButton:hover:not(.active) span {
    margin-top: 13px;
    margin-left: -5px;
}
.konamied .menuButton{
  color: #ddd;
}
.konamied a{
  color:whitesmoke;
}
.konamied .menuButton.active{
  color: #eee;
}
.konamied  #content{
  background-color: #0A0605;
}
.konamiContainer{
  position: fixed;
top: 2em;
left: 2em;
}