@font-face {
    font-family: 'StarWars';
    src: url('../font/Starjedi.ttf');
}

@font-face {
    font-family: 'Fipps';
    src: url('../font/Fipps-Regular.otf');
}

@font-face {
    font-family: 'blokusregular';
    src: url('../font/blokus-webfont.eot');
    src: url('../font/blokus-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/blokus-webfont.woff2') format('woff2'),
    url('../font/blokus-webfont.woff') format('woff'),
    url('../font/blokus-webfont.ttf') format('truetype'),
    url('../font/blokus-webfont.svg#blokusregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    /** Works well on linux, but chrome on windows screws up big time :( **/
    /*font-family: 'blokusregular', monospace;*/
    font-family: Verdana, monospace;
    position: relative;
    background-color: #bcd5e7;
    margin: 0;
}

.ft-large {
    font-size: large;
}
.mt-1 {
    margin-top: 1em;
}
.mb-1 {
    margin-bottom: 1em;
}

.cadre {
    text-align: center;
    margin-bottom: 1em;
}

#texte {
    min-height: 560px;
    max-width: 1000px;
    margin: 1em auto;
    text-align: left;
}

#pied {
    width: 70%;
    height: 20px;
    margin: 20px auto 20px auto;
    background-color: #acc8ff;
    padding-top: 3px;
    font-size: small;
    font-weight: bold;
    text-align: center;
}

.btn {
    display: inline-block;
    background: #ACC8FF linear-gradient(to bottom, #ACC8FF, #BCD5E7);
    border-radius: 28px;
    color: #444;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #BCD5E7;
    background-image: -webkit-linear-gradient(top, #BCD5E7, #ACC8FF);
    background-image: -moz-linear-gradient(top, #BCD5E7, #ACC8FF);
    background-image: -ms-linear-gradient(top, #BCD5E7, #ACC8FF);
    background-image: -o-linear-gradient(top, #BCD5E7, #ACC8FF);
    background-image: linear-gradient(to bottom, #BCD5E7, #ACC8FF);
    text-decoration: none;
	color:#000;
}

#header {
    font-family: 'Fipps', monospace;
    font-size: 50px;
    text-align: center;
    width: 100%;
    text-decoration: none;
}

#header > a,
#header > a:hover {
    text-decoration: none;
}

.headerDetail {
    font-family: 'StarWars', monospace;
    font-size: 30px;
    line-height: 1;
    margin-top: 0.5em;
    vertical-align: middle;
    display: block;
}

#topMenu {
    text-align: center;
}

.menuButton {
    margin: 0 0 0 auto;
    display: inline-block;
    height: 64px;
    padding-left: 64px;
    padding-right: 10px;
    background-size: 64px 64px;
    background-repeat: no-repeat;
    text-align: left;
    font-size: 16px;
    vertical-align: middle;
    line-height: 64px;
    cursor: pointer;
    color: #222;
}

.menuButton.active {
    background-color: white;
    opacity: 0.7;
    z-index: 1;
    box-shadow: -6px -6px 10px #aaa;
    color: #000;
}

.menuButton:hover:not(.active) {
    background-position: 5px 5px;
    padding-right: 5px;
}

.menuButton span {
    font-family: 'StarWars', Times, monospace;
    font-size: 16px;
    display: inline-block;
    margin-top: 8px;

    -webkit-transition: all 0.3s ease-out;
    -khtml-transition:  all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
}
.menuButton:hover:not(.active) span {
    margin-top: 13px;
    margin-left: 5px;
}

#rafi {
    background-image: url("../media/rafi.png");
}

#training {
    background-image: url("../media/formation.png");
}

#computer {
    background-image: url("../media/computer.png");
}


#faq {
    background-image: url("../media/FAQ.png");
}

#story {
    margin: 2em auto;
}

#content {
    min-height: 400px;
    background-color: white;
    box-shadow: -6px 6px 10px #aaa;

    opacity: 0.7;
    padding: 1em;
}

a {
    cursor: pointer;
    color: black;
}

a:hover {
    color: black;
}

canvas {
    margin: auto;
}

p {
    margin-bottom: 0.21cm;
    text-align: justify;
}

h1 {
    font-weight: bold;
    line-height: 1.5em;
}

h1 a{
    text-decoration:none;
    color:#021c7c;
}

h1.surligne a{
    text-decoration:none;
    color: #78ceff;
}

h1 a:hover{
    text-decoration:none;
    color:#1b7abc;
}

h2 {
    font-size: large;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}

h3 {
    text-align: center;
    font-size: large;
    line-height: 1.5em;
    color: #525252;
    font-style: italic;
    font-weight: lighter;
}

.capitalize {
    text-transform: capitalize;
}

.reponse {
    padding: 1em;
    margin: 0.5em 0 1em 4em;
    text-align: justify;
    background-color: #BCD5E7;
}

.puce {
    border: 0;
    text-decoration:none;
    display:list-item;
    list-style-type: circle;
    margin-left : 50px;
    margin-top : 0.5em;
}
.coin {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('/media/coin.png');
    margin-right: 1em;
}
.slick {
    -webkit-transition: all 0.3s ease-out;
    -khtml-transition:  all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
}


@media screen and (max-width: 850px) {
    .menuButton span {
        display: none;
    }

    .capitalize {
        display: none;
    }
}