﻿<div id="texte">
	<h2>Foire aux questions</h2>

	<div class="question">
		<span class="puce">Quel est votre rayon d'action ?</span>
		<div class="reponse">
      Je me déplace sur tout Paris, et tous les endroits accessibles en métro.
      Je me déplace également dans un rayon de 20km autour d'Antony (dont les communes de Bourg-la-Reine, Fresnes, Monthlery, Arpajon, Choisy le Roi, etc)
    </div>
	</div>

	<div class="question">
		<span class="puce">Quels sont vos frais de déplacement ?</span>
		<div class="reponse">Il n'y en a pas ! Le tarif est simplement 40€/heure, où que vous soyez.</div>
	</div>

	<div class="question">
		<span class="puce">Est-il possible d'avoir des tarifs préférentiels pour plusieurs heures de cours ? </span>
		<div class="reponse">Je propose une carte de 10h de cours, qui est facturée 360€. La 10<sup>ème</sup> heure de cours est donc offerte !</div>
	</div>

	<div class="question">
		<span class="puce">Je souhaite avoir un site Internet personnel ou pour mon activité. Pouvez-vous me le réaliser ?</span>
		<div class="reponse">Contactez-moi directement par téléphone ou mail pour plus d'informations.</div>
	</div>

	<div class="question">
		<span class="puce">Je possède un Mac, pouvez-vous intervenir dessus quand même ?</span>
		<div class="reponse">Bien sûr ! Je traite les Mac et les PC sous Windows et Linux.</div>
	</div>
</div>
