﻿<div id="texte">

  <h2>Informations légales</h2>

  <section>
    <p>
      Conformément aux dispositions des articles 6-III et 19 de la loi pour la
      Confiance dans l'Économie Numérique, nous vous informons que :<br/>
    </p>
    <strong>Le présent site web est édité par :</strong>
    <br/>
    Raphaël Guetta, résidant à :<br/>
    7 rue Paul Girondeau<br/>
    92290 Chatenay Malabry<br/>
    France<br/>
    Adresse de courrier électronique : <a href="mailto:guetta.raphael@gmail.com">guetta.raphael@gmail.com</a><br/>
    Tél. : +33 6 13 72 92 73<br/>
    N° S.I.R.E.T: 524274198 00026<br/>

    <p>
      <strong>Le directeur de publication est le gérant de l'entreprise.</strong>
    </p>

    <strong>L'hébergeur du site internet est :</strong>

    <p>
      OVH

      2 rue Kellermann
      59100 Roubaix
      France

      +33 (0)8 203 203 63
    </p>
  </section>

  <h2>Propriété intellectuelle</h2>

  <section>
    La structure générale ainsi que les textes, images animées ou non, son
    savoir-faire et tous les autres éléments composant le site sont la propriété
    exclusive de Raphaël Guetta.<br/>
    Toute représentation totale ou partielle de ce site par quelque personne que
    ce soit, sans l'autorisation expresse de Raphaël Guetta est interdite et
    constituerait une contrefaçon sanctionnée par les articles L. 335-2 et
    suivants du Code de la propriété intellectuelle.
  </section>
</div>

