<div id="texte">

  <section>
    <h2>Tarifs</h2>

    <p>
      <em>40 € par heure</em>, divisé au quart d'heure, avec un plancher de facturation de 60€, soit 1h et demi. Tout cela sans aucun frais de déplacement !<br/>
    </p>
  </section>

  <section>
    <h2>Outils</h2>

    <p>
      <em>Teamviewer</em> me permet d'intervenir à distance, dans les délais les plus brefs.
    </p>

    <div class="cadre">
      <a href="tools/teamviewer/Teamviewer9qs.tar.gz" class="btn">Linux</a>
      <a href="tools/teamviewer/TeamViewer9QS.dmg" class="btn">Mac</a>
      <a href="tools/teamviewer/TeamViewer9QS.exe" class="btn">Windows</a>
    </div>
  </section>

  <section>
    <h2>Quelles prestations puis-je vous proposer ?</h2>

    <p class="question">
      <span class='puce'>Votre ordinateur est inutilisable. L'écran reste noir, ou bien Windows s'arrête avec des <b>écrans bleus</b> ? </span>
      <div class="reponse">Pas de panique, cela peut avoir de nombreuses causes, mais toujours au moins une solution ! Je commence par diagnostiquer le problème, et nous choisissons ensemble la solution la plus adaptée.</div>
    </p>

    <p class="question">
      <span class='puce'>Vous avez par erreur effacé toutes vos données, dont vos photos !</span>
      <div class="reponse">C'est ici un cas sensible. Je maîtrise plusieurs outils permettant une récupération efficace de fichiers effacés, avec un bon taux de réussite. Evitez cependant d'utiliser votre ordinateur (ou votre disque dur externe) avant l'intervention, pour maximiser les chances de réussite.</div>
    </p>

    <p class="question">
      <span class='puce'>Vous avez un ordinateur portable qui fonctionne bien, mais il chauffe beaucoup, et fait beaucoup de bruit !</span>
      <div class="reponse">La remise à neuf d'ordinateurs portables est ma grande spécialité ! Quel que soit son âge, quelle que soit sa marque, retrouvez le plaisir de l'utiliser comme s'il sortait tout juste du magasin !</div>
    </p>

    <p class="question">
      <span class='puce'>Windows fonctionne correctement, vous n'avez pas de problème particulier, mais il est extrêmement lent.</span>
      <div class="reponse">Eh oui, Windows a tendance à s'alourdir assez rapidement à force d'être utilisé. Il est possible de lui faire une cure de jouvence en le nettoyant minutieusement, voire de le réinstaller intégralement pour repartir sur un système tout neuf ! Dans tous les cas, vos données personnelles seront préservées. Je peux aussi vous apprendre les bonnes pratiques pour préserver votre ordinateur le plus longtemps possible.</div>
    </p>
  </section>

</div>