﻿<div id="texte">

  <h2 id="formation">Formation personnalisée </h2>

  <p>
    Je propose toutes sortes de cours, du débutant au confirmé, sur :
    <br/>
    <span class='puce'><strong>La bureautique :</strong> utiliser au mieux MS Office (Word, Excel, Powerpoint) ou OpenOffice (Writer, Calc etc...) </span>

    <span class='puce'><strong>Internet :</strong> Naviguer efficacement, apprendre à trouver rapidement ce que vous cherchez, rester en contact avec les réseaux socieux, gérer votre messagerie grâce à Outlook ou Thunderbird, et faire vos achats en ligne en toute sécurité</span>

    <span class='puce'><strong>Le multimedia :</strong> Partager vos photos, vos films sur tous les ordinateurs de la maison et sur votre télé, et les enrichir (montage video) !</span>

    <span class='puce'><strong>La sécurité :</strong> Se protéger efficacement contre toutes les menaces (virus, spyware, chevaux de troie, rootkits etc...). Savoir détecter une infection et naviguer sereinement sur Internet. Savoir si un site est digne de confiance pour payer en ligne.</span>

    <span class='puce'>
      Vous avez d'autres besoins qui vous sont propres ?
      N'hésitez pas à <a href="mailto:contact@raphaelguetta.fr">me contacter</a>,
      à chaque personne correspond une formation personnalisée et appropriée !</span>
  </p>
</div>