﻿<div id="texte">
  <h2>Qui suis-je ?</h2>

  <p>
    Diplômé de l'<strong>Institut Universitaire Technologique</strong> de
    Grenoble, j'ai commencé ma carrière d'informaticien en tant que développeur
    dans une startup grenobloise. Très inspiré par le contact humain, j'ai
    choisi de travailler par la suite au sein d'un magasin d'informatique rue
    Montgallet, à Paris, où j'exerçais le rôle de <strong>technicien de maintenance</strong>, et
    de <strong>conseiller client</strong>.
  </p>

  <p>
    C'est au cours de cette expérience que j'ai constaté que beaucoup de clients
    souhaitaient une aide personnalisée, se sentant desemparés face à la
    complexité de l'outil informatique. J'ai donc décidé de me spécialiser dans
    la formation individuelle, pour faire le lien entre un utilisateur
    inexpérimenté et cet outil indispensable qu'est l'ordinateur, tout en
    continuant aussi à proposer mes services de réparation et maintenance
    d'ordinateurs pour les particuliers.
  </p>

  <h2>Pourquoi faire appel à moi ?</h2>

  <p>
    <span class='puce'>Je prends le temps de cerner votre demande, pour y répondre le plus précisément possible sans surcharger d'informations superflues.</span>
    <span class='puce'>Je m'adapte à votre niveau de connaissances, je vous explique simplement en employant des termes compréhensibles.</span>
    <span class='puce'>Je suis en mesure de dépanner tous types d'ordinateurs, fixes ou portables, quelque soit le système d'exploitation (Windows Xp, Vista, 7, Mac OS X, ou encore Linux et Ubuntu). Bien souvent, il est plus rentable et plus écologique de faire réparer un ordinateur, même vieux, que d'en acheter un neuf !</span>
    <span class='puce'>Je peux vous installer tout type de logiciel ou de périphérique (imprimante, graveur Blu-Ray, disque dur etc...), et même les configurer en réseau pour en béneficier dans toute la maison sans avoir à les déplacer !</span>
    <span class='puce'>Je me déplace à votre domicile dans toute la région parisienne, sous un délai rapide (habituellement 24 heures). Ainsi, vous n'avez pas à transporter votre ordinateur en magasin, et vous en récupérez l'usage dès la fin de l'intervention.</span>
    <span class='puce'>Vous aurez face à vous un informaticien compétent, motivé, sérieux, à l'écoute et souriant.</span>
  </p>
</div>